.snackbar {
  background-color: #374151;
  color: var(--text-white);
  padding: 0.8rem;
  border-radius: 2px;
}

.snackbar-bottom-left {
  position: fixed;
  bottom: 0.5rem;
  left: 0.5rem;
}
.snackbar-top-right {
  position: fixed;
  top: 4rem;
  right: 0.5rem;
}
.scroll-margin-top {
  scroll-margin-top: 12vh;
}
