/* nav bar */

.logo {
  color: var(--primary-color);
  margin-left: 50px;
  font-size: 35px;
  font-family: "Nunito", sans-serif;
}
.logo-o {
  color: var(--primary-dark-color);
}
.logo-excla {
  font-size: 50px;
  color: var(--primary-dark-color);
}
.navHead {
  position: relative;
  display: flex;
  top: 0;
  padding: 0.25rem;
  z-index: 1;
  color: var(--primary-color);
  font-weight: 900;
  background-color: var(--primary-bg);
  box-shadow: 0 0 8px var(--medium-blue-gray);
}

.nav-btn {
  margin-left: auto;
  margin-right: 15px;
  border: 2px solid black;
  color: var(--primary-dark-color);
  background-color: var(--primary-bg);
  padding: 0.25rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 18px;
  border-radius: 10px;
  font-family: "Nunito";
  cursor: pointer;
}

/* .nav-btn:hover {
  background-color: var(--primary-light-color);
  color: var(--primary-dark-color);
} */

.nav-text {
  position: relative;
  right: 210.5px;
  top: 20px;
  font-size: 0.5rem;
}

.nav {
  position: sticky;
  top: 0;
  grid-area: nav;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.nav::-webkit-scrollbar {
  display: none;
}

nav .title-lg {
  font-weight: 500;
  color: var(--text-dark);
  margin-bottom: 1rem;
}

.navHead {
  grid-area: navHead;
}

.main {
  grid-area: body;
}

a {
  text-decoration: none;
}

iframe {
  width: 43rem;
  height: 16rem;
  border: 0;
  transform: scale(1);
  overflow: hidden;
}
